* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: whitesmoke;
}

h1 {
  margin: 0 auto 10px;
  color: #4b4b4b;
  border-bottom: red 1px solid;
  text-align: center;
  font-weight: 600;
}

.todo-list {
  background-color: rgb(253, 253, 253);
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  box-shadow: 3px 3px 3px grey;
}

label {
  display: flex;
  align-items: center;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0px 0px;
  height: 25px;
  width: 100%;
  font-size: 15px;
  font-weight: 100;
  color: #3d4249;
  border-bottom: 1px solid steelblue;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

button {
  margin: 0 5px;
  display: inline-block;
  background-color: rgb(255, 38, 38);
  border: 1px;
  border-radius: 3px;
  width: 8%;
  color: #222222;
}

form {
  text-align: center;
  margin-top: 10px;
}

form input {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid steelblue;
}
